body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    background: url('./sunny.jpg') center/cover no-repeat;
    height: 100vh;
    display: flex;
    padding-left: 20px;
    color: #f1f6f9;
}
header p{
    text-align: right;
    text-shadow: #333;
    color: #333;
}


main {
    padding: 40px;
    display: flex;
    justify-content: space-between;
}

#about-me {
    display: flex;
}

#about-me img {
    max-width: 50%;
    max-height: auto;
    padding-right: 20px;
    border-radius: 5px;
    border: 1px solid #ddd;
    opacity: 0.5;
    object-fit: fill;
    float:left;
}

#about-me p {
    flex: 1;
}

#contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#contacts img {
    margin: 10px 0;
    max-width: 100px;
    float:right;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: right;
    padding: 10px 20px;
}

